---
layout: splash
title: "<br>Hello, I'm Himanshu<br>"
excerpt: "MSCS Graduate Student @ USC<br>Machine Learning Engineer <br>Content creator<br>"
header:
    overlay_color: "#000"
    overlay_filter: "0.2"
    overlay_image: /assets/images/himanshu.png
    actions:
        - label: "Know More"
          url: "#about-me"
feature_row:
    - image_path: assets/images/interpretability.jpeg
      alt: "Explainable AI"
      title: "Explainable AI"
      excerpt: "A guide on visualization and explainability of deep learning models."
      url: "/blog/visual-interpretability-for-cnn"
      btn_label: "Read More"
      btn_class: "btn--primary"
    - image_path: /assets/images/hyperparameter.jpeg
      alt: "Hyperparameter Tuning"
      title: "Hyperparameter Tuning"
      excerpt: "Steps on performing hyperparameter tuning in deep learning."
      url: "/blog/hyperparameter-tuning"
      btn_label: "Read More"
      btn_class: "btn--primary"
    - image_path: /assets/images/deployment.jpg
      alt: "Deploying machine learning models"
      title: "Deploying machine learning models"
      excerpt: "A guide on serving machine learning models"
      url: "/blog/deploying-keras-models"
      btn_label: "Read More"
      btn_class: "btn--primary"
---

{% include about %}

<h1 id="projects" style="text-align: center;">Projects</h1>
<p style="text-align: center;">Browse all my projects on <a href="https://github.com/himanshurawlani/">GitHub</a>.</p>
{% include feature_row %}

<!-- {% include feature_row id="feature_row3" type="right" %}

{% include feature_row id="feature_row4" type="center" %} -->

{% include contact %}